extends layout

block content
	div(ng-controller='MyCtrl3')
		form(method='post', action='/login' ng-hide='displayLogin')
			label Email:
			input(name='email')
			label Password:
			input(name='password', type='password')
			button Login

	ul(class='menu')
		li
			a(href='#/view1') My Events 
		li
			a(href='#/view2') Account 
		li
			a(href='/logout') Logout 

	div(ui-view)