doctype html
html(ng-app="myApp")
  head
    title= title
    link(rel='stylesheet', href='app/css/app.css')
  body
    block content

    script(src='bower_components/angular/angular.js')
    script(src='bower_components/angular-route/angular-route.js')
    script(src='app/js/app.js')
    script(src='app/js/services.js')
    script(src='app/js/controllers.js')
    script(src='app/js/filters.js')
    script(src='app/js/directives.js')