extends layout

block content
	h1= title
	form(method='post', action='/login')
		input(name='email')
		input(name='password', type='password')
		button Login

	ul(class='menu')
		li
			a(href='#/view1') View 1
		li
			a(href='#/view2') View 2

	div(ng-view)